<%- include header %>
    

<form method="post">
  <p>
    <label>心情：</label>
    <textarea name="content" rows="20" cols="100"></textarea><br />
  </p>
  <p>
    <input class="button" type="submit" value="发表!" />
  </p>
</form>


<%- include footer %>
