<%- include header %>
    

<form method="post">
  <p>
    <label>Are you sure want to delete Emotion: <%= emotion.content %></label>
    <input type="hidden" name="eid" value="<%= emotion.eid %>" /><br />
  </p>
  <input class="button" type="submit" value="确定">
</form>


<%- include footer %>
