<%- include header %>
<form method="post">
	<p>
  		<label>site_title：</label>
		<input class="text-input small-input" type="text" name="site_title"/>
	</p>
	<p>
		<label>site_subtitle：</label>
		<input class="text-input small-input" type="text" name="site_subtitle"/>
	</p>
	<p>
		<label>site_author：</label>
		<input class="text-input small-input" type="text" name="site_author"/>
	</p>
    <p>
    	<input class="button" type="submit" value="确定!"/>
    </p>
</form>
<%- include footer %>