</div><!-- end main -->


<%- include module.more.ejs %>
<script src="/javascripts/highlight.pack.js"></script>
<script>
if(document.getElementById("flash")){
    document.getElementById("flash").style.opacity = 0;
}
hljs.initHighlightingOnLoad();
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?c06de1e3596fc40979bf743098c3c7d1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>
