<div id="more">
	<div class="wrap">
		<em class="format-ico more-ico">更多</em>
		<div class="format-content">
            <div class="more-content">
                <p>Powered By <a href="http://nodejs.org/">Node.js</a> / <a href="http://expressjs.com/">Express</a> /
                    <a href="http://www.mongodb.org/">Mongo</a></p>
                <p>Design By <a href="http://wangdaodao.com/">WangDaoDao</a>，Code By <a href="http://Zeroling.com">Zeroling.com</a>，Passing HTML 5.0 & CSS 3.0</p>
                <p>© 2014 <a href="http://Zeroling.com">Zeroling.com</a> 版权所有</p>
                <p><a href="/rss">RSS</a>&nbsp;|&nbsp;<a href="/admin">后台登录</a>&nbsp;|&nbsp;<a href="/sitemap.xml">Sitemap</a></p>
                <form action="/search" method="GET">
                    <p><input type="text" placeholder="Search..."/></p>
                </form>

            </div>
        </div>
	</div>
</div>