<li id="gallery">
	<div class="wrap">
		<em class="format-ico gallery-ico">相册</em>
		<div class="format-content">
			<ul class="gallery-content">
				<li class="gallery-cell">
					<div class="format-img"><a href="/galleries"><img src="http://wssgcg1213.qiniudn.com/IMG_20140124_170423.jpg-800" alt=""></a></div>
					<div class="gallery-info">
						<sapn class="gallery-date">2014年01月31日</sapn>
						<span class="gallery-view">点击: 1次</span>
					</div>
				</li>
			</ul>	
		</div>
	</div>
</li>
